.sidebar{
  height: 100vh;
  flex: 0.1;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  background-color: #040404;
  color: white;
}
.sidebar_logo{
  margin-right: auto;
  height: 70px;
  padding: 10px;

}

.sidebar_title{

  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}